/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px
}

.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    flex-direction: column;
    padding: 25px;
}

.container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    flex-direction: row;
}

.item {
    margin: 10px
}

#renderer-dropdown{
        width: 200px;
        height: auto;
        border: 2px solid black;
        font-size: 18px;
        color: white;
        background-color: #1f2937;
        border-radius: 5px;
        overflow: hidden;
      }


#machine-dropdown{
        width: auto;
        height: auto;
        border: 2px solid black;
        font-size: 18px;
        color: white;
        background-color: #1f2937;
        border-radius: 5px;
        overflow: hidden;
}

#software-dropdown{
    width: auto;
    height: auto;
    border: 2px solid black;
    font-size: 18px;
    color: white;
    background-color: #1f2937;
    border-radius: 5px;
    overflow: hidden;
}


#totalRenderTime-input, #countTestFrame-input, #totalFrames-input{
    height: 32px;
    width: 150px;
}

p{
color: #1f2937;
font-size: larger;
}

